---
import Layout from "@layouts/Default.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const articles = posts
  .sort((a, b) => {
    const timeStampA = new Date(a.id.match(/^\d{4}-\d{2}-\d{2}/)[0]).getTime();
    const timeStampB = new Date(b.id.match(/^\d{4}-\d{2}-\d{2}/)[0]).getTime();
    return timeStampB - timeStampA;
  })
  .map((post) => ({
    ...post,
    date: post.id.match(/^\d{4}-\d{2}-\d{2}/)[0],
  }));

const MONTHS = {
  "01": "Enero",
  "02": "Febrero",
  "03": "Marzo",
  "04": "Abril",
  "05": "Mayo",
  "06": "Junio",
  "07": "Julio",
  "08": "Agosto",
  "09": "Septiembre",
  "10": "Octubre",
  "11": "Noviembre",
  "12": "Diciembre",
} as const;

const getFormatedDate = (dateString: string): string => {
  const [year, month, day] = dateString.split("-");
  return `${MONTHS[month as keyof typeof MONTHS]} ${day}, ${year}`;
};

const getSlugFromId = (id: string): string => {
  const title = id.match(/[a-zA-Z].+/)[0];
  return title;
};

console.log("*****");
console.log(articles[0]);
---

<Layout>
  <ul class="post-list">
    {
      articles.map(({ id, date, data }) => (
        <li>
          <article>
            <h2 class="post-list-title">
              <a class="post-list-link" href={`${getSlugFromId(id)}`}>
                {data.title}
              </a>
            </h2>
            <time class="post-list-date" datetime={date}>
              {getFormatedDate(date)}
            </time>
            <p class="post-list-summary">{data.excerpt}</p>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>
