---
import Layout from "@layouts/Default.astro";
import { getCollection } from "astro:content";
import { getFormatedDate } from "@utils/index.ts";

const posts = await getCollection("blog");
const articles = posts
  .sort((a, b) => {
    const timeStampA = new Date(a.id.match(/^\d{4}-\d{2}-\d{2}/)[0]).getTime();
    const timeStampB = new Date(b.id.match(/^\d{4}-\d{2}-\d{2}/)[0]).getTime();
    return timeStampB - timeStampA;
  })
  .map((post) => ({
    ...post,
    date: post.id.match(/^\d{4}-\d{2}-\d{2}/)[0],
  }));

const getSlugFromId = (id: string): string => {
  const title = id.match(/[a-zA-Z].+/)[0];
  return title;
};
---

<Layout classes="home-page">
  <h1>Letras Nubladas</h1>
  <ul class="post-list">
    {
      articles.map(({ id, date, data }) => (
        <li>
          <article>
            <h2 class="post-list-title">
              <a class="post-list-link" href={`${getSlugFromId(id)}`}>
                {data.title}
              </a>
            </h2>
            <time class="post-list-date" datetime={date}>
              {getFormatedDate(date)}
            </time>
            <p class="post-list-summary">{data.excerpt}</p>
          </article>
        </li>
      ))
    }
  </ul>
</Layout>
