---
import { ClientRouter } from "astro:transitions";
import Header from "@components/Header.astro";
import Loader from "@components/Loader.astro";
import Footer from "@components/Footer.astro";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/lora";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  classes?: string;
}

const { title = "", description = "", classes = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="follow, index" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#e5d7c2" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="author" content="Mario Flores Abreu" />
    <meta name="copyright" content="Mario Flores Abreu" />
    <meta name="language" content="Spanish" />
    <meta name="distribution" content="global" />
    <meta
      name="license"
      content="https://creativecommons.org/licenses/by-nc-sa/4.0/"
    />
    <meta
      name="keywords"
      content="poesía, cuentos, reflexiones, amor, soledad, esperanza, desamor, letras nubladas, mario flores abreu"
    />
    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="es" />
    <meta property="og:description" content={description} />
    <meta
      property="og:url"
      content={new URL(Astro.url.pathname, Astro.site).toString()}
    />
    <meta property="og:site_name" content="Letras Nubladas" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={`${Astro.site}og.jpg`} />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={Astro.site} />
    <meta
      property="twitter:url"
      content={new URL(Astro.url.pathname, Astro.site).toString()}
    />
    <meta name="twitter:title" content={`${title}`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${Astro.site}og.jpg`} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="canonical"
      href={new URL(Astro.url.pathname, Astro.site).toString()}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Letras Nubladas"
      href={new URL("/rss.xml", Astro.site).toString()}
    />
    <title>{title ? `${title} | Letras Nubladas` : "Letras Nubladas"}</title>
    <ClientRouter />
  </head>

  <body class:list={classes}>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
    <Loader />
  </body>
</html>

<script>
  document.addEventListener("astro:before-preparation", () => {
    document.querySelector("main")?.classList.add("loading");
    const loader = document.querySelector(".loader");
    loader?.classList.add("visible");
  });
</script>
